@keyframes bounce_in {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.bounce_in {
  animation: bounce_in 0.2s ease-in-out 1;
}

.blink {
  animation: light_blink 0.6s ease-in-out infinite;
}
@keyframes light_blink {
  50% {
    stroke: rgb(211, 211, 150);
    stroke-opacity: 50%;
    stroke-width: 20px;
  }
  70% {
    stroke: rgb(211, 211, 150);
    stroke-opacity: 70%;
    stroke-width: 20px;
  }

  100% {
  }
}
.winBlink {
  animation: winLight_blink 0.3s ease-in-out 10;
}
@keyframes winLight_blink {
  50% {
    stroke: rgb(211, 211, 150);
    stroke-opacity: 50%;
    stroke-width: 20px;
  }
  70% {
    stroke: rgb(211, 211, 150);
    stroke-opacity: 70%;
    stroke-width: 20px;
  }

  100% {
  }
}

.info_open {
  animation-name: info_slide;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
@keyframes info_slide {
  0% {
    opacity: 0;
    transform: translatey(-5vw);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
.info_close {
  animation-name: info_close;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes info_close {
  0% {
    opacity: 1;
    transform: translatey(0);
  }

  100% {
    opacity: 0;
    transform: translatey(-6vw);
  }
}
