* {
  box-sizing: border-box;
}

body {
  background: url(img/bokeh.jpg);

  margin: 0;
  padding: 0;
}

button {
  border-radius: 5px;
  background: #8a6f9e;
  border: none;
  color: #ffffff;
}

.uncheckedButton {
  opacity: 0.8;
  fill: #1a8e5f !important;
}

.st0 {
  pointer-events: none;
}

#spin,
#hold1,
#hold2,
#hold3 {
  cursor: pointer;
}
#spin:active,
#hold1:active,
#hold2:active,
#hold3:active {
  opacity: 0.8;
}

.st10 {
  font-family: "PressStart2P-Regular";
}
