:root {
  --button-color: #9c141e;
  --button-length: 200px;
  --button-height: 40px;
  --background-color: #9c141e;
  --primary-font: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
